In [31]:
import pandas as pd
#se inicializan las variables para la playlist, las canciones con like y la lista que contendrá las canciones con like que NO se encuentren ya en la playlist
# playlist database
playlist = pd.read_csv("la_playlist.csv")
newPlaylist=playlist[["Track Name","Artist Name(s)"]]
# like database
likeList = pd.read_csv("liked.csv")
newLikeList = likeList[["Track Name", "Artist Name(s)"]]
print(newLikeList.head())
newPlaylist.head()

            Track Name              Artist Name(s)
0    It Doesn't Matter       The Chemical Brothers
1   Estación los Alpes  Buhodermia 夜, El Maese KDS
2  Funkin' for Jamaica                  Tom Browne
3                Crazy              Gnarls Barkley
4               Dumebi                        Rema

                         Track Name  Artist Name(s)
0                 Florecita Rockera  Aterciopelados
1                          Caraluna         Bacilos
2                  Mi primer millon         Bacilos
3                   Tabaco Y Chanel         Bacilos
4  Mi Testimonio a.k.a. El Edificio         Bacilos

In [32]:

newList=pd.merge(newPlaylist, newLikeList)

In [33]:
newList.shape

(748, 2)

In [34]:
newList.head()

                         Track Name Artist Name(s)
0                          Caraluna        Bacilos
1                  Mi primer millon        Bacilos
2  Mi Testimonio a.k.a. El Edificio        Bacilos
3                    A Dios Le Pido         Juanes
4                    A Dios Le Pido         Juanes